In [17]:
import pandas as pd

contracts = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/contracts.csv")
customers = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/customers.csv")
#print(contracts)
#print(customers)

#contracts.merge(customers,               how = "inner", on = "id")
#set_index('id', inplace = True)
#set_index('customer_id', inplace = True)

df = contracts.join(customers)
#print(df)


df.dtypes
df

############################################################################################

df['id'] = df['id'].astype(str)
df['customer_id'] = df['customer_id'].astype(str)










############################ GETS RID OF $ & Commas #########################################
import pandas as pd
#df = pd.DataFrame({'deposit': [" $1,557.97 ", "((45.22))"]})
#df['revenue'] = df['revenue'].replace('\$|,|\(|\)', '', regex=True)
df['deposit'] = df['deposit'].replace('[$,()]', '', regex=True)
#df['revenue'] = pd.to_numeric(df['revenue'])
df['deposit'] = df['deposit'].astype(float)
print(df)
print(df.dtypes)

#############################################################################################


total_sales = df.groupby(['state'])['deposit'].agg('mean', 'sum')
total_sales

#state_data.sort_values(by=['deposit'])
pd.set_option('display.max_columns', None)
total_sales

total_sales.columns = ['state', 'total sales']
total_sales


# ATTEMPTS AT CHANGING THE FUCKING DATA TYPE

#df['deposit'] = df.deposit.astype(float)
#df1 = df.astype({"deposit": float})
#df['deposit'] = df['deposit'].apply(lambda x: float(x.split()[0].replace(',', '')))
#df = pd.concat([df['deposit'].str.split()
             #          .str[0]
             #          .str.replace(',','').astype(float) for deposit in df], axis=1)
#df['deposit'] = df['deposit'].astype(int)
#print (df)

#import pandas as pd
#df = pd.DataFrame({'deposit': ["$1,557.97 "]})
#df['deposit'] = df['deposit'].replace('\$|,', '', regex=True)
#df['deposit'] = pd.to_numeric(df['deposit'])
#print(df)
#print(df.dtypes)

     contract_id customer_id contract_start  contract_term  deposit  \
0              1         127      8/17/2019             12  53000.0
1              2         119      12/1/2019             22  77000.0
2              3         160       5/1/2019             15  13000.0
3              4           7      12/8/2019             23  56000.0
4              5         144      2/11/2019              7  21000.0
..           ...         ...            ...            ...      ...
995          996          57      11/8/2019             15  38000.0
996          997         126      1/13/2019             20  28000.0
997          998          89       5/8/2019              7  73000.0
998          999          52      3/26/2019              7  63000.0
999         1000           3      3/19/2019             16  23000.0

     monthly_amt   id       company         sector  \
0    $11,600.00   1.0     Bubblebox  Capital Goods
1    $14,600.00   2.0          Izio         Energy
2    $22,800.00   3.0  Twitterworks            NaN
3    $11,400.00   4.0          Viva    Health Care
4    $19,800.00   5.0   Jabberstorm     Technology
..           ...  ...           ...            ...
995   $5,300.00   nan           NaN            NaN
996  $16,000.00   nan           NaN            NaN
997  $18,400.00   nan           NaN            NaN
998  $21,600.00   nan           NaN            NaN
999  $15,700.00   nan           NaN            NaN

                                    industry                     email  \
0              Military/Government/Technical  kyerson0@bizjournals.com
1                       Oil & Gas Production       farlet1@comcast.net
2                                        NaN        alerohan2@ox.ac.uk
3                      Major Pharmaceuticals  wgiovanitti3@nytimes.com
4    Computer Software: Prepackaged Software         pscallon4@fc2.com
..                                       ...                       ...
995                                      NaN                       NaN
996                                      NaN                       NaN
997                                      NaN                       NaN
998                                      NaN                       NaN
999                                      NaN                       NaN

                        address         city state      zip
0               76 Randy Circle    San Diego    CA  92170.0
1    15360 Village Green Street      Spokane    WA  99252.0
2                 29 Hovde Hill    Milwaukee    WI  53234.0
3              074 Center Place       Topeka    KS  66667.0
4                   4 Moose Way  Terre Haute    IN  47805.0
..                          ...          ...   ...      ...
995                         NaN          NaN   NaN      NaN
996                         NaN          NaN   NaN      NaN
997                         NaN          NaN   NaN      NaN
998                         NaN          NaN   NaN      NaN
999                         NaN          NaN   NaN      NaN

[1000 rows x 15 columns]
contract_id         int64
customer_id        object
contract_start     object
contract_term       int64
deposit           float64
monthly_amt        object
id                 object
company            object
sector             object
industry           object
email              object
address            object
city               object
state              object
zip               float64
dtype: object

state
AK     34000.000000
AL     40333.333333
AR     56000.000000
AZ     62666.666667
CA     59300.000000
CO     33666.666667
CT     58750.000000
DC     68000.000000
DE     62333.333333
FL     51777.777778
GA     56200.000000
HI     46000.000000
IA     39500.000000
ID     52333.333333
IL     35000.000000
IN     23333.333333
KS     59285.714286
KY     27000.000000
LA     62000.000000
MA     80000.000000
MD     68250.000000
ME     70000.000000
MI     54833.333333
MN     28250.000000
MO     63857.142857
MS    100000.000000
NC     78250.000000
NE     86500.000000
NJ     93000.000000
NM     20000.000000
NV     81000.000000
NY     63250.000000
OH     41555.555556
OK     40285.714286
OR     70600.000000
PA     68666.666667
SC     57000.000000
TN     47200.000000
TX     54407.407407
UT     19000.000000
VA     47000.000000
WA     40333.333333
WI     62000.000000
WV     59000.000000
Name: deposit, dtype: float64

In [2]:
#total_sales.columns = ['state', 'total sales']
#total_sales

total_sales = df.groupby(['state'])['deposit'].agg('sum')
total_sales

state
AK      68000.0
AL     121000.0
AR     112000.0
AZ     376000.0
CA    1186000.0
CO     202000.0
CT     235000.0
DC     544000.0
DE     187000.0
FL     932000.0
GA     281000.0
HI      46000.0
IA      79000.0
ID     157000.0
IL     210000.0
IN      70000.0
KS     415000.0
KY      27000.0
LA     372000.0
MA      80000.0
MD     273000.0
ME      70000.0
MI     329000.0
MN     113000.0
MO     447000.0
MS     100000.0
NC     313000.0
NE     346000.0
NJ      93000.0
NM      20000.0
NV     162000.0
NY    1012000.0
OH     374000.0
OK     282000.0
OR     353000.0
PA     618000.0
SC      57000.0
TN     236000.0
TX    1469000.0
UT      19000.0
VA     423000.0
WA     484000.0
WI     372000.0
WV      59000.0
Name: deposit, dtype: float64

In [18]:
import pandas as pd

contracts = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/contracts.csv")
customers = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/customers.csv")


pd.merge(contracts, customers, left_on="id", right_on="customer_id")

KeyError: 'customer_id'

In [13]:
import pandas as pd

contracts = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/contracts.csv", delimiter =',', encoding="utf-8-sig")
customers = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/customers.csv", delimiter =',', encoding="utf-8-sig")


# Changing Data Types

customers
customers['id'] = customers['id'].astype(str)
customers.dtypes

contracts['customer_id'] = contracts['customer_id'].astype(str)
contracts.dtypes
contracts


list(customers)
list(contracts)

customers.dtypes
contracts.dtypes

combined = pd.merge(customers, contracts, left_on='id', right_on='customer_id')
combined


# Just Merge it with the fuckin contract ID this is fuckin bullshit
#pd.merge(
#    customers.reset_index(),
#    contracts.reset_index(),
#on=['id', 'customer_id'])

#pd.merge(customers, contracts,
#        right_index = True, left_index = True)


#customers = customers.id.strip() 
#contracts = contracts.customer_id.strip()
#customers.merge(contracts,               
#                how = "inner", 
#                on = "id")
#set_index('id', inplace = False)
#set_index('customer_id', inplace = False)
#contracts.dtypes




#print(customers.dtypes)
#contracts.dtypes

#contracts['id'] = contracts['id'].astype(str)
#customers['customer_id'] = customers['customer_id'].astype(str)

############################ GETS RID OF $ & Commas #########################################
#df['deposit'] = df['deposit'].replace('[$,()]', '', regex=True)
#df['deposit'] = df['deposit'].astype(float)
#print(df)
#print(df.dtypes)

#############################################################################################

,id,company,sector,industry,email,address,city,state,zip,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,41,1,5/31/2019,24,"$86,000.00","$11,200.00"
1,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,358,1,6/18/2019,13,"$74,000.00","$19,000.00"
2,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,400,1,8/11/2019,19,"$38,000.00","$8,800.00"
3,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,424,1,3/13/2019,15,"$77,000.00","$14,300.00"
4,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,438,1,10/16/2019,22,"$39,000.00","$20,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055,284,200,12/28/2019,17,"$78,000.00","$17,600.00"
996,200,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055,540,200,4/17/2019,3,"$65,000.00","$9,800.00"
997,200,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055,630,200,11/1/2019,12,"$85,000.00","$12,600.00"
998,200,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055,862,200,10/2/2019,21,"$48,000.00","$6,500.00"
999,200,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055,973,200,8/21/2019,1,"$47,000.00","$12,300.00"

In [ ]:
import pandas as pd

contracts = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/contracts.csv")
customers = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/customers.csv")
#print(contracts)
#print(customers)

#contracts.merge(customers,               how = "inner", on = "id")
#set_index('id', inplace = True)
#set_index('customer_id', inplace = True)

df = contracts.join(customers)
#print(df)


df.dtypes
df

############################################################################################

df['id'] = df['id'].astype(str)
df['customer_id'] = df['customer_id'].astype(str)










############################ GETS RID OF $ & Commas #########################################
import pandas as pd
#df = pd.DataFrame({'deposit': [" $1,557.97 ", "((45.22))"]})
#df['revenue'] = df['revenue'].replace('\$|,|\(|\)', '', regex=True)
df['deposit'] = df['deposit'].replace('[$,()]', '', regex=True)
#df['revenue'] = pd.to_numeric(df['revenue'])
df['deposit'] = df['deposit'].astype(float)
print(df)
print(df.dtypes)

#############################################################################################


total_sales = df.groupby(['state'])['deposit'].agg('mean', 'sum')
total_sales

#state_data.sort_values(by=['deposit'])
pd.set_option('display.max_columns', None)
total_sales

total_sales.columns = ['state', 'total sales']
total_sales


# ATTEMPTS AT CHANGING THE FUCKING DATA TYPE

#df['deposit'] = df.deposit.astype(float)
#df1 = df.astype({"deposit": float})
#df['deposit'] = df['deposit'].apply(lambda x: float(x.split()[0].replace(',', '')))
#df = pd.concat([df['deposit'].str.split()
             #          .str[0]
             #          .str.replace(',','').astype(float) for deposit in df], axis=1)
#df['deposit'] = df['deposit'].astype(int)
#print (df)

#import pandas as pd
#df = pd.DataFrame({'deposit': ["$1,557.97 "]})
#df['deposit'] = df['deposit'].replace('\$|,', '', regex=True)
#df['deposit'] = pd.to_numeric(df['deposit'])
#print(df)
#print(df.dtypes)


############################################################################################################################
############################################################################################################################


#total_sales.columns = ['state', 'total sales']
#total_sales

total_sales = df.groupby(['state'])['deposit'].agg('sum')
total_sales

############################################################################################################################
############################################################################################################################

import pandas as pd

contracts = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/contracts.csv")
customers = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/customers.csv")


pd.merge(contracts, customers, left_on="id", right_on="customer_id")


############################################################################################################################
############################################################################################################################

import pandas as pd

contracts = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/contracts.csv", delimiter =',', encoding="utf-8-sig")
customers = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/customers.csv", delimiter =',', encoding="utf-8-sig")


# Changing Data Types

customers
customers['id'] = customers['id'].astype(str)
customers.dtypes

contracts['customer_id'] = contracts['customer_id'].astype(str)
contracts.dtypes
contracts


list(customers)
list(contracts)

customers.dtypes
contracts.dtypes

combined = pd.merge(customers, contracts, left_on='id', right_on='customer_id')
combined
# Just Merge it with the fuckin contract ID this is fuckin bullshit
#pd.merge(
#    customers.reset_index(),
#    contracts.reset_index(),
#on=['id', 'customer_id'])

#pd.merge(customers, contracts,
#        right_index = True, left_index = True)


#customers = customers.id.strip() 
#contracts = contracts.customer_id.strip()
#customers.merge(contracts,               
#                how = "inner", 
#                on = "id")
#set_index('id', inplace = False)
#set_index('customer_id', inplace = False)
#contracts.dtypes




#print(customers.dtypes)
#contracts.dtypes

#contracts['id'] = contracts['id'].astype(str)
#customers['customer_id'] = customers['customer_id'].astype(str)

############################ GETS RID OF $ & Commas #########################################
#df['deposit'] = df['deposit'].replace('[$,()]', '', regex=True)
#df['deposit'] = df['deposit'].astype(float)
#print(df)
#print(df.dtypes)

#############################################################################################

In [ ]:
import pandas as pd

contracts = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/contracts.csv")
customers = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/customers.csv")


# Join/Merge

# A
df = contracts.join(customers)
df.dtypes
df
df['id'] = df['id'].astype(str)
df['customer_id'] = df['customer_id'].astype(str)


df['deposit'] = df['deposit'].replace('[$,()]', '', regex=True)
df['deposit'] = df['deposit'].astype(float)
print(df)
print(df.dtypes)
total_sales = df.groupby(['state'])['deposit'].agg('mean', 'sum')
total_sales

#state_data.sort_values(by=['deposit'])
pd.set_option('display.max_columns', None)
total_sales

total_sales.columns = ['state', 'total sales']
total_sales

# B

#total_sales.columns = ['state', 'total sales']
#total_sales

total_sales = df.groupby(['state'])['deposit'].agg('sum')

In [10]:
import pandas as pd

contracts = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/contracts.csv", delimiter =',', encoding="utf-8-sig")
customers = pd.read_csv("C:/Users/Michael Botelho/bip-python-unh/sales_analysis/data/customers.csv", delimiter =',', encoding="utf-8-sig")


# Changing Data Types

customers
customers['id'] = customers['id'].astype(str)
customers.dtypes

contracts['customer_id'] = contracts['customer_id'].astype(str)
contracts.dtypes
contracts


list(customers)
list(contracts)

customers.dtypes
contracts.dtypes

df = pd.merge(customers, contracts, left_on='id', right_on='customer_id')
df



#df = pd.DataFrame({'deposit': [" $1,557.97 ", "((45.22))"]})
#df['revenue'] = df['revenue'].replace('\$|,|\(|\)', '', regex=True)
df['deposit'] = df['deposit'].replace('[$,()]', '', regex=True)
#df['revenue'] = pd.to_numeric(df['revenue'])
df['deposit'] = df['deposit'].astype(float)
print(df)
print(df.dtypes)

total_sales = df.groupby(['state'])['deposit'].agg('mean', 'sum')
total_sales

#state_data.sort_values(by=['deposit'])
pd.set_option('display.max_columns', None)
total_sales

total_sales.columns = ['state', 'total sales']
total_sales

      id    company         sector  \
0      1  Bubblebox  Capital Goods
1      1  Bubblebox  Capital Goods
2      1  Bubblebox  Capital Goods
3      1  Bubblebox  Capital Goods
4      1  Bubblebox  Capital Goods
..   ...        ...            ...
995  200      Kwinu    Health Care
996  200      Kwinu    Health Care
997  200      Kwinu    Health Care
998  200      Kwinu    Health Care
999  200      Kwinu    Health Care

                                              industry  \
0                        Military/Government/Technical
1                        Military/Government/Technical
2                        Military/Government/Technical
3                        Military/Government/Technical
4                        Military/Government/Technical
..                                                 ...
995  Biotechnology: Biological Products (No Diagnos...
996  Biotechnology: Biological Products (No Diagnos...
997  Biotechnology: Biological Products (No Diagnos...
998  Biotechnology: Biological Products (No Diagnos...
999  Biotechnology: Biological Products (No Diagnos...

                        email              address         city state    zip  \
0    kyerson0@bizjournals.com      76 Randy Circle    San Diego    CA  92170
1    kyerson0@bizjournals.com      76 Randy Circle    San Diego    CA  92170
2    kyerson0@bizjournals.com      76 Randy Circle    San Diego    CA  92170
3    kyerson0@bizjournals.com      76 Randy Circle    San Diego    CA  92170
4    kyerson0@bizjournals.com      76 Randy Circle    San Diego    CA  92170
..                        ...                  ...          ...   ...    ...
995  nrenak5j@tripadvisor.com  80 Valley Edge Park  Los Angeles    CA  90055
996  nrenak5j@tripadvisor.com  80 Valley Edge Park  Los Angeles    CA  90055
997  nrenak5j@tripadvisor.com  80 Valley Edge Park  Los Angeles    CA  90055
998  nrenak5j@tripadvisor.com  80 Valley Edge Park  Los Angeles    CA  90055
999  nrenak5j@tripadvisor.com  80 Valley Edge Park  Los Angeles    CA  90055

     contract_id customer_id contract_start  contract_term  deposit  \
0             41           1      5/31/2019             24  86000.0
1            358           1      6/18/2019             13  74000.0
2            400           1      8/11/2019             19  38000.0
3            424           1      3/13/2019             15  77000.0
4            438           1     10/16/2019             22  39000.0
..           ...         ...            ...            ...      ...
995          284         200     12/28/2019             17  78000.0
996          540         200      4/17/2019              3  65000.0
997          630         200      11/1/2019             12  85000.0
998          862         200      10/2/2019             21  48000.0
999          973         200      8/21/2019              1  47000.0

     monthly_amt
0    $11,200.00
1    $19,000.00
2     $8,800.00
3    $14,300.00
4    $20,000.00
..           ...
995  $17,600.00
996   $9,800.00
997  $12,600.00
998   $6,500.00
999  $12,300.00

[1000 rows x 15 columns]
id                 object
company            object
sector             object
industry           object
email              object
address            object
city               object
state              object
zip                 int64
contract_id         int64
customer_id        object
contract_start     object
contract_term       int64
deposit           float64
monthly_amt        object
dtype: object

state
AK    61125.000000
AL    72571.428571
AR    47000.000000
AZ    46909.090909
CA    52454.545455
CO    55558.823529
CT    76454.545455
DC    53000.000000
DE    48357.142857
FL    54557.142857
GA    52000.000000
ID    54722.222222
IL    58608.695652
IN    45909.090909
KS    52674.418605
KY    73818.181818
LA    55484.848485
MA    59333.333333
MD    54388.888889
ME    52750.000000
MI    59300.000000
MN    56166.666667
MO    62576.923077
MS    47166.666667
NC    53680.000000
NE    45636.363636
NV    61777.777778
NY    54465.116279
OH    54878.787879
OK    49029.411765
OR    52272.727273
PA    56655.172414
SC    63200.000000
TN    55125.000000
TX    57826.923077
VA    56142.857143
WA    52407.407407
WI    52416.666667
WV    57000.000000
Name: deposit, dtype: float64